extends /includes/layout.pug
block head
    link(rel="stylesheet", href="style.css")
block content
    - var title = "Simulations";
    a(href="/half-life/" style="background-image: url('/images/radiation-counters.jpg')")
        #text Half-Life Simulation