extends /includes/layout.pug
block variables
    - var title = "Simulations";
block head
    link(rel="stylesheet", href="style.css")
block content
    ul.links
        li
            a(href="/half-life/" style="background-image: url('/images/radiation-counters.jpg')") Half-Life Simulation