.main .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}
.main .links a {
    border-radius: 25px;
    display: inline-flex;
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-style: solid;
    border-color: black;
}
.main .links a {
    padding: 10px;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: all 350ms;
}
.main .links a:hover {
    background-color: rgb(80, 80, 80);
    color: blue;
}