@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.main {
    min-height: 100vh;
}
.main nav {
    display: flex;
    background-color: gray;
    margin-bottom: 20px;
    height: 50px;
}
.main nav h1 {
    padding: 0;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    background-color: gray;
}
.main nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    width: 100px;
    height: 50px;
    background-color: transparent;
    transition: all 350ms;
}
.main nav ul li a:hover {
    background-color: rgb(99,99,99);
}
.main nav input:checked ~ ul {
    opacity: 1;
    visibility: visible;
  }
.main nav input {
    display: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.main nav label {
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
}
.main .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.main .links a {
    border-radius: 25px;
    display: inline-flex;
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-style: solid;
    border-color: black;
}
.main .links a .text {
    padding: 10px;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: all 350ms;
}
.main .links a:hover .text {
    background-color: rgb(80, 80, 80);
    color: blue;
}
footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    min-height: 40px;
    background-color: rgb(99, 99, 99);
    color: black;
}
@media screen and (max-width: 600px) {
    .main nav {
        justify-content: center;
    }
    .main nav label {
        display: flex;
    }
    .main nav ul {
        position: absolute;
        transform: translateY(100%);
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 350ms;
        flex-wrap: wrap;
    }
}