extends /includes/layout.pug
block variables
    - var title = "About";
block head
    link(rel="stylesheet", href="style.css")
block content
    ul
        li Alex Wright 
        li Jonathan Oakley
        li#special Molly Granger