li#special {
    font-size: 120px;
    color: green;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    transform: none;
    transition: all 1s;
    display: inline-block;
    
}

li#special:hover {
    transform: rotate(180deg);
    color: white;
}